In [1]:
import os
import pandas as pd

data_folder = "donnees"

os.listdir(data_folder)

['layer_buildings.shx',
 'layer_buildings.sbx',
 'layer_buildings.sbn',
 'consommations_specifiques.csv',
 'layer_buildings.shp',
 'layer_buildings.shp.xml',
 'donnees_batiments.csv',
 'layer_buildings.dbf',
 'layer_buildings.prj',
 'agent_ener_perf.csv']

In [2]:
raw_data = pd.read_csv(os.path.join(data_folder, 'donnees_batiments.csv'), index_col=0)
raw_data.head()

,TypeAffectation,PeriodeConstruction,AgentEnergetique,NbrNiveauxChauffes,EmpreinteSol_[m2]
ID,,,,,
1,Immeuble de bureaux,1981-1985,Mazout,3,518
2,Batiment commercial,2011-2015,Mazout,1,1203
3,Immeuble de bureaux,1971-1980,Electricite,3,428
4,Immeuble de bureaux,1981-1985,Gaz naturel,4,985
5,Maison mitoyenne,1981-1985,Gaz naturel,4,1275

In [3]:
data = raw_data.copy()

ratio_sre = 0.9
data["SRE_[m2]"] = ratio_sre * data["EmpreinteSol_[m2]"] * data["NbrNiveauxChauffes"]
data.head()

,TypeAffectation,PeriodeConstruction,AgentEnergetique,NbrNiveauxChauffes,EmpreinteSol_[m2],SRE_[m2]
ID,,,,,,
1,Immeuble de bureaux,1981-1985,Mazout,3,518,1398.6
2,Batiment commercial,2011-2015,Mazout,1,1203,1082.7
3,Immeuble de bureaux,1971-1980,Electricite,3,428,1155.6
4,Immeuble de bureaux,1981-1985,Gaz naturel,4,985,3546.0
5,Maison mitoyenne,1981-1985,Gaz naturel,4,1275,4590.0

In [4]:
c_spec = pd.read_csv(os.path.join(data_folder, 'consommations_specifiques.csv'), index_col=0)
c_spec.head()

,1900-1920,1921-1945,1946-1960,1961-1970,1971-1980,1981-1985,1986-1990,1991-1995,1996-2000,2001-2005,2006-2010,2011-2015
TypeAffectation,,,,,,,,,,,,
Batiment commercial,124,140,140,137,124,101,85,68,68,52,52,39
Batiment culturel,158,179,179,175,158,129,108,87,87,67,67,50
Batiment industriel,137,155,155,151,137,112,94,76,76,58,58,43
Entrepot,107,121,121,118,107,87,73,59,59,45,45,34
Hopital,216,244,244,238,216,176,148,119,119,91,91,68