In [1]:
import os
import pandas as pd

data_folder = "donnees"

os.listdir(data_folder)

['layer_buildings.shx',
 'layer_buildings.sbx',
 'layer_buildings.sbn',
 'consommations_specifiques.csv',
 'layer_buildings.shp',
 'layer_buildings.shp.xml',
 'donnees_batiments.csv',
 'layer_buildings.dbf',
 'layer_buildings.prj',
 'agent_ener_perf.csv']

In [2]:
raw_data = pd.read_csv(os.path.join(data_folder, 'donnees_batiments.csv'), index_col=0)
raw_data.head()

,TypeAffectation,PeriodeConstruction,AgentEnergetique,NbrNiveauxChauffes,EmpreinteSol_[m2]
ID,,,,,
1,Immeuble de bureaux,1981-1985,Mazout,3,518
2,Batiment commercial,2011-2015,Mazout,1,1203
3,Immeuble de bureaux,1971-1980,Electricite,3,428
4,Immeuble de bureaux,1981-1985,Gaz naturel,4,985
5,Maison mitoyenne,1981-1985,Gaz naturel,4,1275

In [3]:
data = raw_data.copy()

ratio_sre = 0.9
data["SRE_[m2]"] = ratio_sre * data["EmpreinteSol_[m2]"] * data["NbrNiveauxChauffes"]
data.head()

,TypeAffectation,PeriodeConstruction,AgentEnergetique,NbrNiveauxChauffes,EmpreinteSol_[m2],SRE_[m2]
ID,,,,,,
1,Immeuble de bureaux,1981-1985,Mazout,3,518,1398.6
2,Batiment commercial,2011-2015,Mazout,1,1203,1082.7
3,Immeuble de bureaux,1971-1980,Electricite,3,428,1155.6
4,Immeuble de bureaux,1981-1985,Gaz naturel,4,985,3546.0
5,Maison mitoyenne,1981-1985,Gaz naturel,4,1275,4590.0